/* *{
    margin: 0;
    padding: 0;
} */
#cv-form{

}
#cv-template{
    display:none;
}
.my-img{
    /* border: 1px solid red; */
    border-radius:50%;
    width: 200px;
}
.background{
    background-color:rgb(158, 249, 249);
}
#btn-container{
    margin-left:1000px;
}